.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pip-selfcheck.json
.idea/
.vscode/
.project
 *.iml
 *.ipr
*.iws
# mpeltonen/sbt-idea plugin
.idea_modules/
.idea/httpRequests
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
docs/_build/
.ipynb_checkpoints
.env
.mypy_cache

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.DS_Store
reference
logs
/data/db/earnings.sqlite
/data/db/news.sqlite
submodules/
