aiohttp==3.6.2
aiostream==0.4.1
async-timeout==3.0.1
attrs==19.3.0
backtrader==1.9.75.123
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3; sys_platform == "win32"
idna==2.9
logzero==1.5.0
lxml==4.5.1
multidict==4.7.6
numpy==1.19.0
pandas==1.0.5
pandas-datareader==0.8.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
tqdm==4.46.1
urllib3==1.25.9
uvloop==0.14.0
yahoo-fin==0.8.5
yarl==1.4.2
